<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Hello</title>
    <link rel="icon" href="favicon.png"><link href="static/css/26.css" rel="stylesheet"><link href="static/css/main.css" rel="stylesheet"></head>
<body class='test'>
<h1>template rendered</h1>
<div id="root"></div>
<script src="static/js/26.chunk.js"></script><script src="static/js/main.js"></script>
</body>
</html>
